@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Item>;

<h1>Items</h1>

<ul>
  @foreach(Item item in Model)
  {
    <li>@Html.ActionLink($"{item.Name}", "Details", new { id = item.Id })</li>
    <li>@Html.ActionLink($"{item.Gender}", "Details", new { id = item.Id })</li>
    <li>@Html.ActionLink($"{item.Breed}", "Details", new { id = item.Id })</li>
    <li>@Html.ActionLink($"{item.Date}", "Details", new { id = item.Id })</li>
    <li>@Html.ActionLink($"{item.Type}", "Details", new { id = item.Id })</li>
  }
</ul>

<p>@Html.ActionLink("Add new Animal", "Create")</p>